<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="WeatherDetails">
      <h1>Weather Details</h1>
      <ul>
        <li class="condition">Condition: <%=weatherData.condition %></li>
        <li class="wind"><span>Wind:</span> <%=weatherData.wind %> MPH</li>
        <li class="sunrise"><span>Sunrise:</span> <%=weatherData.sunrise %></li>
        <li class="sunset"><span>Sunset:</span> <%=weatherData.sunset %></li>
      </ul>
    </div>
    <div class="weatherInfo">
      <ul>
        <li class="temperature"><%= weatherData.temp%>°</li>
        <li class="place"><%= weatherData.loc%></li>
        <li class="icon"><img src="<%= weatherData.icon%>" /></li>
      </ul>
      <form action="/search">
        <input class="back" type="submit" value="Search Again" />
      </form>
    </div>
  </body>
</html>
